*{
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_data{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

 .navigation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px rgb(114, 230, 250) solid;
  margin: 20px;
  /* margin-top: 20px; */
  padding: 10px;
  border-radius: 30px;
  position: fixed;
  top: -20px;
  z-index: 1;
   background-color: aliceblue;

  width: 700px;

}
.navigation_container:hover{
  background-color: rgb(226, 232, 238);
} 

.navigation_items {
  display: flex;
  justify-content: center;
  /* margin: 5px; */

}
.clickable{
  border: .5px solid lightgray;
width: 100%;
  padding: 10px;
  border-radius: 30px;
  margin: 5px;
  color: gray;
  cursor: pointer;
  user-select: none;
  text-align: center;

}
.clickable:hover{
  background-color: rgb(240, 159, 60);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(179, 70, 70);
  margin: 2rem;
  border-radius: 2rem;
  flex-direction: column;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
width: 40vw;
}

.image_result{
  /* margin: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

 .image_result> a >  img{
   margin: 2rem;
  object-fit: contain;
  border-radius: 2rem;
  height: 30vh;
cursor: pointer;
  transition: all 5s;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);

}
img:hover{
  transform: rotate3d(1,-1,-1, -0.2turn);
}
.camera_data, .photo_date{
 display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(70, 179, 146);
  border-radius: 2rem;
  flex-direction: column;
  width: 30vw;
  background-color:antiquewhite;
  margin: 1rem;
  padding: 1rem;

}


.rover_data{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(70, 179, 146);
  border-top: 1px solid lightcoral;
  border-radius: 2rem;
  flex-direction: column;
  width: 30vw;
  background-color:antiquewhite;
  margin: 1rem;

}
.rover_data > p{
  font-size: x-large;
  color: rgb(114, 111, 111);

}


@media screen and (max-width: 800px) {
.navigation_container{
  width: 320px;
}
  .image_data{
    width: 100%;
  }



  .card {
    width: 340px;
  }
  .camera_data,.photo_date,.rover_data{
    font-size: xx-small;
  }
  
}
